<!DOCTYPE html>

{%load staticfiles%}
<html>

<head>
	<title>Django app</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css"%}">
</head>


<body>
	<header>
		<h1>Witamy na stronie</h1>
		{{ insert_me }}
	</header>

	<section class="main_section">
		<article class="left">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat euismod pellentesque. Phasellus molestie sapien eu posuere lacinia. Aenean luctus augue a felis rutrum ultricies. Duis ultricies luctus nisl, placerat faucibus leo
				blandit nec. Mauris vitae euismod nunc. Praesent aliquam condimentum felis. Sed rutrum sollicitudin dui. Phasellus sodales quam at rhoncus ultricies. </p>
		</article>

		<article class="main">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat euismod pellentesque. Phasellus molestie sapien eu posuere lacinia. Aenean luctus augue a felis rutrum ultricies. Duis ultricies luctus nisl, placerat faucibus leo
				blandit nec. Mauris vitae euismod nunc. Praesent aliquam condimentum felis. Sed rutrum sollicitudin dui. Phasellus sodales quam at rhoncus ultricies.</p>
		</article>

		<article class="right">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat euismod pellentesque. Phasellus molestie sapien eu posuere lacinia. Aenean luctus augue a felis rutrum ultricies. Duis ultricies luctus nisl, placerat faucibus leo
				blandit nec. Mauris vitae euismod nunc. Praesent aliquam condimentum felis. Sed rutrum sollicitudin dui. Phasellus sodales quam at rhoncus ultricies.</p>
		</article>
	</section>


</body>

</html>
